@font-face {
    font-family: 'HoeflerText Roman';
    src: url('fonts/HoeflerText-Roman.woff2') format('woff2'),
         url('fonts/HoeflerText-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'HoeflerText Roman', Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    cursor: url('images/cursor.cur'), auto;
}

header {
    text-align: center;
    padding: 2rem 0;
    background-color: #1f1f1f;
}

h1, h2 {
    color: #ffffff;
    font-family: 'HoeflerText Roman', Arial, sans-serif;
}

#social-media {
    text-align: center;
    padding: 2rem 0;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem auto;
    width: fit-content;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons a img {
    width: 40px;
    height: 40px;
    filter: invert(100%);
}
/* Overlay */

body {
    transition: filter 0.5s;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay-content {
    text-align: center;
    color: white;
    z-index: 1001; /* Certifique-se de que o conteúdo do overlay esteja acima do desfoque */
}

#enter-site {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    color: #000;
    transition: background-color 0.3s;
}

#enter-site:hover {
    background-color: #f0f0f0;
}

#main-content.blur-content {
    filter: blur(10px);
    transition: filter 0.5s;
}

/* Animation for elements with the slide-in class */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 1s ease-out;
}

/* Animações adicionais */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.zoom-in {
    animation: zoomIn 0.5s ease-in-out;
}

/* Música */
#youtube-music {
    display: none;
}

/* Discord widget */
#discord-widget iframe {
    border-radius: 10px;
}

/* Styles for the Projects section */
#projects {
    text-align: center;
    padding: 2rem 0;
}

.projects-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem auto;
    width: fit-content;
}

.projects-icons {
    display: flex;
    gap: 1rem;
}

.projects-icons a img {
    width: 40px;
    height: 40px;
    filter: invert(100%);
}

/* Rotation animation for the favicon */
@keyframes rotateFavicon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotateFavicon 2s linear infinite;
}

/* Styles to hide the SoundCloud iframe */
#soundcloud-embed {
    width: 0;
    height: 0;
    visibility: hidden;
    border: none;
}

/* Typewrite */
.typewriter {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid orange; /* Cursor */
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}
